@model ViewModel.ResourceViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <div class="col-md-12"> <h3> Invoice</h3></div>
    <div class="col-md-12"><hr /></div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "ResourceForm" }))
    {
        <div class="outer-form">
            <div class="form_layout ">

                <div class="col-md-6 greytheme">
                    Projects : &nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.DropDownListFor(m => m.SelectedProject, new SelectList(Model.ProjectList, "ID", "ClientProject"), "--Select Project--", new { style = "width:230px", id = "ddlProject", onchange = "ClearGrid();" })   @*onchange = "getdata(this.options[this.selectedIndex].value);"*@

                </div>
                <div class="col-md-6 greytheme" style="align-items:center">
                    Year List : &nbsp;
                    @Html.DropDownListFor(m => m.SelectedYear, new SelectList(Model.YearList, "Value", "Text"), "--Select Year--", new { style = "width:230px", id = "ddlYear", onchange = "fillWeek();" })
                    <br />
                </div>

                <div class="col-md-6 greytheme" style="align-items:center">
                    <br />
                    Week List : &nbsp;
                    @Html.DropDownListFor(m => m.SelectedWeek, new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"), "--Select Week--", new { style = "width:230px", onchange = "getdata();", id = "ddlWeek" })
                    <br />
                </div>
                @Session["Status"]
                <div class="col-md-12 greytheme" style="align-items:center"><hr /></div>
                <div class="row clearfix">

                    <div class="col-md-12 greytheme">
                        <fieldset>
                            <div id="jqGrid" >
                                @Html.Partial("_ListInvoice")
                            </div>
                        </fieldset>
                    </div>

                </div>
                <div class="row clearfix">
                    <hr />
                    <div class="col-md-12" id="dvBtn">
                        <center><input type="button" name="Update" value="Save" id="btnUpdate" />&nbsp;<input type="button" name="Submit" value="Submit" id="btnSubmit" /></center> &nbsp;            
                    </div>
          
</div>
            </div>

        </div>

    }
</div>

<script type="text/javascript">
    var paramFromView = {
        Url: '@Url.Content("~/Home/GetInvoice")',
        UrlSave: '@Url.Content("~/Home/Update")',
        Width: '',
        Height: '',
        FormId: '#ResourceForm',
        GridId: '#_Invoice',
        DataNotAvaliable: 'No Records Found',
        Message: '#lblMessage',
        btnSubmit: '#btnSubmit',
        urlRelative: '@Url.Content("~/")',
    };
</script>
<link href="~/Css/jquery-ui.css" rel="stylesheet" />
<link href="~/Css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Css/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.jqGrid.min.js"></script>
<script src="~/Scripts/jquery.table2excel.js"></script>
<script src="~/Scripts/grid.locale-en.js"></script>
<script src="~/Scripts/Invoice.js"></script>