@model WorkLogViewModel
<tr id="td_@ViewBag.RowCreated">
    <td valign="baseline" nowrap="" align="left">
        @*@if (ViewBag.RowCreated > 1)
        {*@
            <input type="checkbox" id="chkDelete_@ViewBag.RowCreated" name="chkDelete_@ViewBag.RowCreated" />
        @*}*@
    </td>
    <td valign="baseline" nowrap="" align="right">

        <input name="txtStatus_@ViewBag.RowCreated" type="text" value="1" id="txtStatus_@ViewBag.RowCreated" class="SETFONTDEFAULT textareaBorder" readonly="readonly" style="width:24px;">
        <input type="hidden" name="hdnStatus_@ViewBag.RowCreated" id="hdnStatus_@ViewBag.RowCreated" value="NotReviewed">

    </td>
    <td valign="baseline" nowrap="" align="left">
        @Html.DropDownListFor(model => model.SelectedProject, new SelectList(Model.ProjectsList, "Project_ID", "Project_Name"), "[Select]", new { style = "width:220px", id = "ddlProject_" + @ViewBag.RowCreated, @class = "required", onchange = "fillProjectDetails(" + @ViewBag.RowCreated + ");" })
        <span id="SelectedProject_@ViewBag.RowCreated" class="displayError" style="color: Red; visibility: hidden; width: 10px; margin: 0px;">*</span>
    </td>
    <td valign="baseline" nowrap="" align="left">
        @Html.DropDownListFor(model => model.SelectedPhase, new SelectList(Model.PhaseList, "PhaseId", "PhaseName"), new { style = "width:140px", id = "PhasesList_" + @ViewBag.RowCreated, @class = "required1" })
        <span id="SelectedPhase_@ViewBag.RowCreated" class="displayError" style="width: 10px; color: Red; visibility: hidden; ">*</span>
    </td>
    <td valign="baseline" nowrap="" align="left">
        @Html.DropDownListFor(model => model.SelectedModule, new SelectList(Model.ModuleList, "ProjModule_Id", "ModuleName"), new { style = "width:150px", id = "ddlModule_" + @ViewBag.RowCreated, @class = "required1" })
        <span id="SelectedModule_@ViewBag.RowCreated" class="displayError" style="color:Red;visibility:hidden;">*</span>
    </td>
    <td valign="baseline" nowrap="" align="left">
        @Html.DropDownListFor(model => model.SelectedTask, new SelectList(Model.TaskList,"ProjTask_Id", "TaskName"), new { style = "width:150px", id = "ddlTask_" + @ViewBag.RowCreated, @class = "required", onchange = "SelectedTask(ddlTask_" + @ViewBag.RowCreated + ");" })
        <span id="SelectedTask_@ViewBag.RowCreated" class="displayError" style="color:Red;visibility:hidden;">*</span>
    </td>
    <td valign="baseline" nowrap="" align="left">
        @*<input list="ddlTime_@ViewBag.RowCreated" id="TimeRanges_@ViewBag.RowCreated" type="text" />
            <datalist id="ddlTime_@ViewBag.RowCreated">
                <option selected="selected" value="0">[Select Time]</option>
                <option>00:15</option>
                <option>00:30</option>
                <option>00:45</option>
                <option>01:00</option>
                <option>01:15</option>
                <option>01:30</option>
                <option>01:45</option>
                <option>02:00</option>
                <option>02:15</option>
                <option>02:30</option>
                <option>02:45</option>
                <option>03:00</option>
                <option>03:15</option>
                <option>03:30</option>
                <option>03:45</option>
                <option>04:00</option>
                <option>04:15</option>
                <option>04:30</option>
                <option>04:45</option>
                <option>05:00</option>
                <option>05:15</option>
                <option>05:30</option>
                <option>05:45</option>
                <option>06:00</option>
                <option>06:15</option>
                <option>06:30</option>
                <option>06:45</option>
                <option>07:00</option>
                <option>07:15</option>
                <option>07:30</option>
                <option>07:45</option>
                <option>08:00</option>
                <option>08:15</option>
                <option>08:30</option>
                <option>08:45</option>
                <option>09:00</option>
                <option>09:15</option>
                <option>09:30</option>
                <option>09:45</option>
                <option>10:00</option>
                <option>10:15</option>
                <option>10:30</option>
                <option>10:45</option>
                <option>11:00</option>
                <option>11:15</option>
                <option>11:30</option>
                <option>11:45</option>
                <option>12:00</option>
                <option>12:15</option>
                <option>12:30</option>
                <option>12:45</option>
                <option>13:00</option>
                <option>13:15</option>
                <option>13:30</option>
                <option>13:45</option>
                <option>14:00</option>
                <option>14:15</option>
                <option>14:30</option>
                <option>14:45</option>
                <option>15:00</option>
                <option>15:15</option>
                <option>15:30</option>
                <option>15:45</option>
                <option>16:00</option>
                <option>16:15</option>
                <option>16:30</option>
                <option>16:45</option>
                <option>17:00</option>
                <option>17:15</option>
                <option>17:30</option>
                <option>17:45</option>
                <option>18:00</option>
                <option>18:15</option>
                <option>18:30</option>
                <option>18:45</option>
                <option>19:00</option>
                <option>19:15</option>
                <option>19:30</option>
                <option>19:45</option>
                <option>20:00</option>
                <option>20:15</option>
                <option>20:30</option>
                <option>20:45</option>
                <option>21:00</option>
                <option>21:15</option>
                <option>21:30</option>
                <option>21:45</option>
                <option>22:00</option>
                <option>22:15</option>
                <option>22:30</option>
                <option>22:45</option>
                <option>23:00</option>
                <option>23:15</option>
                <option>23:30</option>
                <option>23:45</option>
                <option>24:00</option>
            </datalist>*@
        @*<input type="text" id="ddlTime_@ViewBag.RowCreated" name="ddlTime_@ViewBag.RowCreated" maxlength="2" value="00" style=" width:25px" />*@
        <select id="ddlTime_@ViewBag.RowCreated" name="ddlTime_@ViewBag.RowCreated" style=" width:40px">
            <option value="0">00</option>
            <option value="1">01</option>
            <option value="2">02</option>
            <option value="3">03</option>
            <option value="4">04</option>
            <option value="5">05</option>
            <option value="6">06</option>
            <option value="7">07</option>
            <option value="8">08</option>
            <option value="9">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
        </select>
       <label>:</label>
       @*<input type="ddlMinute_@ViewBag.RowCreated" name="ddlMinute_@ViewBag.RowCreated" maxlength="2" value="00" style=" width:25px" />*@
        <select id="ddlMinute_@ViewBag.RowCreated" name="ddlMinute_@ViewBag.RowCreated" style=" width:40px">
            <option value="0">00</option>
            <option value="1">01</option>
            <option value="2">02</option>
            <option value="3">03</option>
            <option value="4">04</option>
            <option value="5">05</option>
            <option value="6">06</option>
            <option value="7">07</option>
            <option value="8">08</option>
            <option value="9">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            <option value="37">37</option>
            <option value="38">38</option>
            <option value="39">39</option>
            <option value="40">40</option>
            <option value="41">41</option>
            <option value="42">42</option>
            <option value="43">43</option>
            <option value="44">44</option>
            <option value="45">45</option>
            <option value="46">46</option>
            <option value="47">47</option>
            <option value="48">48</option>
            <option value="49">49</option>
            <option value="50">50</option>
            <option value="51">51</option>
            <option value="52">52</option>
            <option value="53">53</option>
            <option value="54">54</option>
            <option value="55">55</option>
            <option value="56">56</option>
            <option value="57">57</option>
            <option value="58">58</option>
            <option value="59">59</option>
        </select>
      <label style=" width:50px; font-size:small">(HH:MM)</label>
      <span id="valcTime_@ViewBag.RowCreated" class="displayError" style=" width:15px;color:Red;visibility:hidden;">*</span>
</td>
    <td valign="baseline" nowrap="" align="left">
        <input name="txtPurpose_@ViewBag.RowCreated" type="text" maxlength="200" id="txtPurpose_@ViewBag.RowCreated" class="SETFONTDEFAULT" style="width:100%;" onkeydown="OnkeyReturnAddRow(@ViewBag.RowCreated,event);">
        <input type="hidden" class="hdnrowindex_@ViewBag.RowCreated" name="hdnrowindex_@ViewBag.rowcreated" id="hdnRowIndex_@ViewBag.RowCreated" value=@ViewBag.RowIndex>
    </td>
</tr>