@model ViewModel.ResourceConfigurationViewModel

<p></p>

<table id="Table1st" border="1" cellpadding="0" cellspacing="0" style="display:inline-block">
    <thead style="background-color: #e6f2ff">
        <tr>
            <td valign="baseline" nowrap="" align="left" style="font-size:medium">SNo</td>
            <td valign="baseline" nowrap="" align="left">Project Name</td>
            <td valign="baseline" nowrap="" align="left">Resource</td>
            <td valign="baseline" nowrap="" align="left">StartDate(MM/dd/yyyy)</td>
            <td valign="baseline" nowrap="" align="left">EndDate(MM/dd/yyyy)</td>
            <td valign="baseline" nowrap="" align="left">Work Allocation(%)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="text" max="1" value="1" class="SETFONTDEFAULT textareaBorder" readonly="readonly" style="width: 24px; font-size: medium" " />
            </td>
            <td>
                @Html.DropDownListFor(model => model.ProjectId, new SelectList(Model.GetProjectList, "Project_ID", "Project_Name"), "----Select----", new { style = "width:300px", id = "ddlProject", @class = "required" , })
                <span id="SelectedProject" class="requiredata" style="width: 10px; color: Red; visibility: hidden; ">*</span>
            </td>
            <td>
                @Html.DropDownListFor(model => model.EmpID, new SelectList(Model.EmployeeList, "Emp_Id", "EmpName"), "----Select----", new { style = "width:150px", id = "resourcesEdit", @class = "required" })
                <span id="SelectedProject" class="requiredata" style="width: 10px; color: Red; visibility: hidden; ">*</span>
            </td>
            <td>
                @Html.TextBox("StartDate", Model.StartDate.HasValue ? Model.StartDate.Value.ToString("MM/dd/yyyy") : "", new { style = "width:150px", id = "ddlStartDate", @class = "required", @readonly = true })
                <span id="SelectedStrDate" class="requiredata" style="width: 10px; color: Red; visibility: hidden; ">*</span>

            </td>
            <td>
                @Html.TextBox("EndTime", Model.EndTime.HasValue ? Model.EndTime.Value.ToString("MM/dd/yyyy") : "", new { style = "width:150px", id = "ddlEndDate", @class = "required", @readonly = true })
                <span id="SelectedEndTime" class="requiredata" style="width: 10px; color: Red; visibility: hidden; ">*</span>
            </td>
            <td>
                @Html.TextBox("Allocation", Model.Allocation, new { style = "width:140px", id = "ddlAllocation", @class = "required" })
                <span id="SelectedAllocation" class="requiredata" style="width: 10px; color: Red; visibility: hidden; ">*</span>
                <input type="hidden" id="hdnid" value="0" />
                @Html.HiddenFor(model => model.Id, new { id = "hdnID" })
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" align="center">
              
                <input type="submit" id="btnSave" name="btnSave" width="500px" onclick="return SaveResourceConfig();" class="SETBUTTON" value="Save" />
            </td>
        </tr>
    </tfoot>
</table>